
<div class="row">
    <div class="col-xl">
      <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5 class="mb-0">Customer/Agent Allocation</h5>
          <small class="text-muted float-end">Default label</small>
        </div>
        <div class="card-body">
          <form [formGroup]="allocationForm">
            <div class="row">
                <div class="col-6 mb-3">
                    <label for="state_name" class="form-label">Pincodes:</label>
                    <select id="state_name" formControlName="agent_pincode" class="form-select" (ngModelChange)="selectPincodes($event)">
                      <option *ngFor="let option of pincodes" [value]="option.pincode" >
                        {{ option.pincode}}
                      </option>
                    </select>
                  </div>
                  <div class="col-6 mb-3">
                    <label for="city" class="form-label">Locality:</label>
                    <select id="city" formControlName="local" class="form-select" (ngModelChange)="fetchCustomerDetails($event)">
                      <option *ngFor="let local of locality" [value]="local.localityId">{{ local.localityName }}</option>
                    </select>
                  </div>
            </div>
          
          
            <div class="mb-3">
                <!-- <button type="submit" class="btn btn-primary"(click)="fetchCustomer()">search</button> -->
            </div>
           
          </form>
        </div>
      </div>
    </div>
    <div class="table-responsive text-nowrap table-striped mt-4" *ngIf="allData">
      <table class="table">
        <thead class="table-light">
    <!-- <table id="example" class="  display nowrap table table-hover table-striped table-bordered table-sm" style="width:100%"> -->
            <!-- <thead> -->
                <tr>
                  <th>Select</th>
                    <th>Agent Id</th>
                    <th>Pincode</th>
                    
                  
                </tr>
            </thead>
            <tbody>
              <tr *ngFor="let agent of allData">
                <td><input type="checkbox" (change)="selectagent(agent)"></td>
                <td>
                   {{agent.agentId}}
                </td>
                <td>
                  {{agent.pincode}}
               </td>
              </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" (click)="saveAgent()">save</button>
      </div>
      
  </div>