<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- <app-user-list *ngIf="!router.includes('/Customer') && !router.includes('/register')"></app-user-list> -->

<router-outlet *ngIf="enableLogin"></router-outlet>
<nav class="pcoded-navbar  " *ngIf="!enableLogin">
  <div class="navbar-wrapper  ">
    <div class="navbar-content scroll-div " >
      
      <div class="">
        <div class="main-menu-header">
          <img class="img-radius" src="assets/assets/images/user/avatar-2.jpg" alt="User-Profile-Image">
          <div class="user-details">
            <span>Ashutosh</span>
            <div id="more-details">UX Dev<i class="fa fa-chevron-down m-l-5"></i></div>
          </div>
        </div>
        <div class="collapse" id="nav-user-link">
          <ul class="list-unstyled">
            <li class="list-group-item"><a href="user-profile.html"><i class="feather icon-user m-r-5"></i>View Profile</a></li>
            <li class="list-group-item"><a href="#!"><i class="feather icon-settings m-r-5"></i>Settings</a></li>
            <li class="list-group-item"><a href="auth-normal-sign-in.html"><i class="feather icon-log-out m-r-5"></i>Logout</a></li>
          </ul>
        </div>
      </div>
      
      <ul class="nav pcoded-inner-navbar ">
        <li class="nav-item pcoded-menu-caption">
          <label>Navigation</label>
        </li>
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Dashboard</span></a>
        </li>
        <!-- <li class="nav-item pcoded-hasmenu">
            <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Page layouts</span></a>
            <ul class="pcoded-submenu">
                <li><a href="layout-vertical.html" target="_blank">Vertical</a></li>
                <li><a href="layout-horizontal.html" target="_blank">Horizontal</a></li>
            </ul>
        </li> -->
        <li class=" nav-item pcoded-hasmenu">
          <a class="nav-link menu-link menu-toggle" data-bs-toggle="collapse" href="#distributorMenu" role="button" aria-expanded="false" aria-controls="distributorMenu">
            <span class="pcoded-mtext">Distributor</span> 
          </a>
          <div class="collapse" id="distributorMenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/Register" class="nav-link">Create <i class="fa fa-plus p-1"></i></a></li>
              <li><a routerLink="/Distributor" class="nav-link">Search <i class="fa fa-search "></i></a></li>
            </ul>
          </div>
        </li>
      
        <li class=" nav-item">
          <a class="nav-link menu-link menu-toggle" data-bs-toggle="collapse" href="#productMenu" role="button" aria-expanded="false" aria-controls="distributorMenu">
             Products
          </a>
          <div class="collapse" id="productMenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a [routerLink]="['/product-form/13']" class="nav-link">Create <i class="fa fa-plus p-1"></i></a></li>
              <li><a routerLink="/product-search" class="nav-link">Search <i class="fa fa-search "></i></a></li>
            </ul>
          </div>
        </li>
        <li class=" nav-item">
          <a class="nav-link" data-bs-toggle="collapse" href="#cutomerMenu" role="button" aria-expanded="false" aria-controls="distributorMenu">
            <i class="fa fa-down"></i> Customer
          </a>
          <div class="collapse" id="cutomerMenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/Customer/customer" class="nav-link">Create <i class="fa fa-plus"></i></a></li>
              <li><a routerLink="/customersList/customer" class="nav-link">Search <i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </li>
        <li class=" nav-item pcoded-hasmenu">
          <a class="nav-link" data-bs-toggle="collapse" href="#agentMenu" role="button" aria-expanded="false" aria-controls="distributorMenu">
            <i class="fa fa-down"></i> Agent
          </a>
          <div class="collapse" id="agentMenu">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a routerLink="/Customer/agent" class="nav-link">Create <i class="fa fa-plus"></i></a></li>
              <li><a routerLink="/customersList/agent" class="nav-link">Search <i class="fa fa-search"></i></a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item pcoded-menu-caption">
          <label>UI Element</label>
        </li>
        <li class="nav-item pcoded-hasmenu">
          <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span><span class="pcoded-mtext">Basic</span></a>
          <ul class="pcoded-submenu">
            <li><a href="bc_alert.html">Alert</a></li>
            <li><a href="bc_button.html">Button</a></li>
            <li><a href="bc_badges.html">Badges</a></li>
            <li><a href="bc_breadcrumb-pagination.html">Breadcrumb & paggination</a></li>
            <li><a href="bc_card.html">Cards</a></li>
            <li><a href="bc_collapse.html">Collapse</a></li>
            <li><a href="bc_carousel.html">Carousel</a></li>
            <li><a href="bc_grid.html">Grid system</a></li>
            <li><a href="bc_progress.html">Progress</a></li>
            <li><a href="bc_modal.html">Modal</a></li>
            <li><a href="bc_spinner.html">Spinner</a></li>
            <li><a href="bc_tabs.html">Tabs & pills</a></li>
            <li><a href="bc_typography.html">Typography</a></li>
            <li><a href="bc_tooltip-popover.html">Tooltip & popovers</a></li>
            <li><a href="bc_toasts.html">Toasts</a></li>
            <li><a href="bc_extra.html">Other</a></li>
          </ul>
        </li>
        <li class="nav-item pcoded-menu-caption">
            <label>Forms &amp; table</label>
        </li>
  
      </ul>
      
    
      
    </div>
  </div>
</nav>
<header class="navbar pcoded-header navbar-expand-lg navbar-light header-dark" *ngIf="!enableLogin">
		
			
  <div class="m-header">
    <a class="mobile-menu" id="mobile-collapse" href="#!"><span></span></a>
    <a href="#!" class="b-brand">
      <!-- ========   change your logo hear   ============ -->
      <img src="assets/images/logo.png" alt="" class="logo">
      <img src="assets/images/logo-icon.png" alt="" class="logo-thumb">
    </a>
    <a href="#!" class="mob-toggler">
      <i class="feather icon-more-vertical"></i>
    </a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#!" class="pop-search"><i class="feather icon-search"></i></a>
        <div class="search-bar">
          <input type="text" class="form-control border-0 shadow-none" placeholder="Search hear">
          <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <a class="dropdown-toggle h-drop" href="#" data-toggle="dropdown">
            Dropdown
          </a>
          <div class="dropdown-menu profile-notification ">
            <ul class="pro-body">
              <li><a href="user-profile.html" class="dropdown-item"><i class="fas fa-circle"></i> Profile</a></li>
              <li><a href="email_inbox.html" class="dropdown-item"><i class="fas fa-circle"></i> My Messages</a></li>
              <li><a href="auth-signin.html" class="dropdown-item"><i class="fas fa-circle"></i> Lock Screen</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div class="dropdown mega-menu">
          <a class="dropdown-toggle h-drop" href="#" data-toggle="dropdown">
            Mega
          </a>
          <div class="dropdown-menu profile-notification ">
            <div class="row no-gutters">
              <div class="col">
                <h6 class="mega-title">UI Element</h6>
                <ul class="pro-body">
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Alert</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Button</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Badges</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Cards</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Modal</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Tabs & pills</a></li>
                </ul>
              </div>
              <div class="col">
                <h6 class="mega-title">Forms</h6>
                <ul class="pro-body">
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Elements</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Validation</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Masking</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Wizard</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Picker</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-minus"></i> Select</a></li>
                </ul>
              </div>
              <div class="col">
                <h6 class="mega-title">Application</h6>
                <ul class="pro-body">
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-mail"></i> Email</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-clipboard"></i> Task</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-check-square"></i> To-Do</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-image"></i> Gallery</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-help-circle"></i> Helpdesk</a></li>
                </ul>
              </div>
              <div class="col">
                <h6 class="mega-title">Extension</h6>
                <ul class="pro-body">
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-file-plus"></i> Editor</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-file-minus"></i> Invoice</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-calendar"></i> Full calendar</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-upload-cloud"></i> File upload</a></li>
                  <li><a href="#!" class="dropdown-item"><i class="feather icon-scissors"></i> Image cropper</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <div class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
            <i class="icon feather icon-bell"></i>
            <span class="badge badge-pill badge-danger">5</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right notification">
            <div class="noti-head">
              <h6 class="d-inline-block m-b-0">Notifications</h6>
              <div class="float-right">
                <a href="#!" class="m-r-10">mark as read</a>
                <a href="#!">clear all</a>
              </div>
            </div>
            <ul class="noti-body">
              <li class="n-title">
                <p class="m-b-0">NEW</p>
              </li>
              <li class="notification">
                <div class="media">
                  <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <p><strong>John Doe</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>5 min</span></p>
                    <p>New ticket Added</p>
                  </div>
                </div>
              </li>
              <li class="n-title">
                <p class="m-b-0">EARLIER</p>
              </li>
              <li class="notification">
                <div class="media">
                  <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>10 min</span></p>
                    <p>Prchace New Theme and make payment</p>
                  </div>
                </div>
              </li>
              <li class="notification">
                <div class="media">
                  <img class="img-radius" src="assets/images/user/avatar-1.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <p><strong>Sara Soudein</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>12 min</span></p>
                    <p>currently login</p>
                  </div>
                </div>
              </li>
              <li class="notification">
                <div class="media">
                  <img class="img-radius" src="assets/images/user/avatar-2.jpg" alt="Generic placeholder image">
                  <div class="media-body">
                    <p><strong>Joseph William</strong><span class="n-time text-muted"><i class="icon feather icon-clock m-r-10"></i>30 min</span></p>
                    <p>Prchace New Theme and make payment</p>
                  </div>
                </div>
              </li>
            </ul>
            <div class="noti-footer">
              <a href="#!">show all</a>
            </div>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown drp-user">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="feather icon-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right profile-notification">
            <div class="pro-head">
              <img src="assets/images/user/avatar-1.jpg" class="img-radius" alt="User-Profile-Image">
              <span>John Doe</span>
              <a href="auth-signin.html" class="dud-logout" title="Logout">
                <i class="feather icon-log-out"></i>
              </a>
            </div>
            <ul class="pro-body">
              <li><a href="user-profile.html" class="dropdown-item"><i class="feather icon-user"></i> Profile</a></li>
              <li><a href="email_inbox.html" class="dropdown-item"><i class="feather icon-mail"></i> My Messages</a></li>
              <li><a href="auth-signin.html" class="dropdown-item"><i class="feather icon-lock"></i> Lock Screen</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  

</header>
<div class="layout-wrapper layout-content-navbar" *ngIf="!enableLogin">
  
  <div class="layout-container">
    <!-- Menu -->

    <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
     

      <div class="menu-inner-shadow"></div>

   
    </aside>
    <!-- / Menu -->

    <!-- Layout container -->
    <div class="layout-page">
      <!-- Navbar -->

    

      <!-- / Navbar -->

      <!-- Content wrapper -->
      <div class="">
        <!-- Content -->

        <router-outlet></router-outlet>
        <!-- / Content -->

        <!-- Footer -->
        
        <!-- / Footer -->

        <div class="content-backdrop fade"></div>
      </div>
      <!-- Content wrapper -->
    </div>
    <!-- / Layout page -->
  </div>

  <!-- Overlay -->
  <!-- <div class="layout-overlay layout-menu-toggle"></div> -->
</div>


