<div class="container mt-4">
  <h2 class="mb-4">Add Product Details</h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="rating" class="form-label">Rating</label>
        <select id="rating" class="form-select" formControlName="rating">
          <option value="">Select Rating</option>
          <option *ngFor="let rating of ratingOptions" [value]="rating">{{ rating }}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="brand_id" class="form-label">Brand ID</label>
        <input type="text" id="brand_id" class="form-control" formControlName="brand_id" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title" />
      </div>
    </div>

   

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="shelf_life" class="form-label">Shelf Life</label>
        <input type="text" id="shelf_life" class="form-control" formControlName="shelf_life" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="unit_display" class="form-label">Unit Display</label>
        <input type="text" id="unit_display" class="form-control" formControlName="unit_display" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="unit" class="form-label">Unit</label>
        <input type="text" id="unit" class="form-control" formControlName="unit" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="unit_type" class="form-label">Unit Type</label>
        <input type="text" id="unit_type" class="form-control" formControlName="unit_type" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="weight_display" class="form-label">Weight Display</label>
        <input type="text" id="weight_display" class="form-control" formControlName="weight_display" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="weight_g" class="form-label">Weight (g)</label>
        <input type="number" id="weight_g" class="form-control" formControlName="weight_g" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="prd_type" class="form-label">Product Type</label>
        <input type="text" id="prd_type" class="form-control" formControlName="prd_type" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="mrp" class="form-label">MRP</label>
        <input type="number" id="mrp" class="form-control" formControlName="mrp" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="product_class" class="form-label">Product Class</label>
        <input type="text" id="product_class" class="form-control" formControlName="product_class" />
      </div>
     
    </div>
   

    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="packaging_type" class="form-label">Packaging Type</label>
        <input type="text" id="packaging_type" class="form-control" formControlName="packaging_type" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="category" class="form-label">Catalog</label>
        <select id="category" class="form-select" formControlName="category" (ngModelChange)="fetchSubCategory($event)">
          <option value="" disabled>Select Catalog</option>
          <option *ngFor="let category of categoryOptions" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="category" class="form-label">Category</label>
        <select id="category" class="form-select" formControlName="category" (ngModelChange)="fetchCategories($event)">
          <option value="" disabled>Select Category</option>
          <option *ngFor="let category of subCategoryOptions" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="sub_category" class="form-label">Sub Category</label>
        <select id="sub_category" class="form-select" formControlName="sub_category" >
          <option value="">Select Sub Category</option>
          <option *ngFor="let subCategory of CategoryOptions1" [value]="subCategory.id">{{ subCategory.name }}</option>
        </select>
      </div>
     
    </div>
    <div class="row">
      <div class="col-md-4 mb-3">
        <label for="return_policy" class="form-label">Return Policy</label>
        <!-- <textarea id="return_policy" class="form-control" formControlName="return_policy"></textarea> -->
        <select id="return_policy" class="form-select" formControlName="return_policy">
          <option value="">Select Return Policy</option>
          <option *ngFor="let return of returnPolicy" [value]="return">{{ return }}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="product_group" class="form-label">Product Group</label>
        <input type="text" id="product_group" class="form-control" formControlName="product_group" />
      </div>
      <div class="col-md-4 mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" class="form-control" formControlName="description"></textarea>
      </div>
      <div class="col-md-4 mb-3">
        <label for="features" class="form-label">Features</label>
        <textarea id="features" class="form-control" formControlName="features"></textarea>
      </div>
     
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
