<div class="container-fluid">
<div class="col-xl-12">
    <div class="card">
        <div class="card-header">
            <h5>Address</h5>
            <!-- <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span> -->
        </div>
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Short Name</th>
                            <th>Address</th>
                           
                            <th>Country</th>

                            <th>State</th>
                            <th>City</th>
                            <th>Pincode</th>

                            <th>Mobile</th>
                            <th *ngIf="!agentPincode">Allocated Agent</th>
                            <th *ngIf="agentPincode">Allocate Agent </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let add of addressDetails">
                            <td>{{add.short_name}}</td>
                            <td>{{add.address}}</td>
                           
                            <td>{{add.country}}</td>

                            <td>{{add.state_name}}</td>
                            <td>{{add.city}}</td>
                            <td>{{add.pin_code}}</td>

                            <td>{{add.mobile}}</td>
                            <td *ngIf="!agentPincode">N/A</td>
                            <td><button class="btn btn-primary" *ngIf="!agentPincode" (click)="fetchAgentPincodes(add.pin_code)">Allocate</button></td>
                            <td *ngIf="agentPincode">
                                 <select name="cpincode" class="form-select" id="" style="width:140px" (change)="selectAgentId($event)">
                                <option value="" selected>select Agent</option>
                               <option *ngFor="let option of agentPincode" [value]="option.agentId"> {{option.agentId}}</option>
                            </select>
                         
                        </td>
                        <td *ngIf="agentPincode"><i class="fa fa-save customC" (click)="saveAllocation(add)" ></i></td>
                           
                           
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>